<div ng-controller="loginCtrl" *ngIf="!loggedIn">
  <form ng-submit="login()">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" name="email" [(ngModel)]="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" name="password" [(ngModel)]="user.password">
    </label>
    <button type="button" (click)="login(l)">Login</button>

  </form>
</div>

<div *ngIf="loggedIn">
  Importieren: <input type="file"
       ngFileSelect
       [options]="options"
       (onUpload)="handleUpload($event)"
       (beforeUpload)="beforeUpload($event)">

  <div *ngFor="let date of dates | async">
    <h2>{{ date }}</h2>
    <table>
      <thead>
        <tr>
          <th>Stunde</th>
          <th>Kurs</th>
          <th>Optionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsPretty | async" >
          <ng-container *ngIf="item.prettyDate == date">
            <td>{{ item.lesson }}</td>
            <td>{{ item.course }}</td>
            <td><button (click)="removeItem(this.item.$key)">Löschen</button></td>
          </ng-container>
        </tr>
        <tr>
          <th></th>
          <th><input placeholder="Kursnummer" type="text" [(ngModel)]="newItem"></th>
          <th><button (click)="addItem()">Hinzufügen</button></th>
        </tr>
      </tbody>
    </table>
  </div>



  <!-- <span ng-show="loginObj.user">
    {{loginObj.user.email}} | <a href="#" ng-click="loginObj.$logout()">Logout</a>
  </span> -->

</div>
